$arrow-size: 3rem;

.flow-wrapper {
  width: 80%;
  margin: 2rem auto;
  .panel {
    margin: 0 auto;
    color: black;    
  }

  .boxes {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow {
      font-size: 9rem;
    }

    .box {
      width: 20rem;
      height: 10rem;
      text-align: center;
      margin: 10px;
      background-color: #E06666;


      h4 {
        font-size: 2rem;
        margin-top: 4rem;
      }

      &.box-Dispatcher {
        background-color: rgb(147, 196, 125);
      }

      &.box-Stores {
        background-color: #F6B26B;
      }

      &.box-View {
        background-color: #6D9EEB;
      }
    }
  }

  .data {
    margin-top: 3rem;
    text-align: left;

    .right, .left {
      overflow-y: auto;
      height: 40rem;      
    }

    .left {
      float: left;
      width: 50%;
    }

    .right {
      padding-left: 2rem;      
    }
  }
}